/* Hoja de estilos css */
body {
    background-image:url(../assets/images/headphones-1868612_1920.jpg);
    background-position:center;
    background-repeat:no-repeat;

    /*configuracion de las fuentes*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/*identificador .class*/
.contenedor-formulario {
    backdrop-filter:blur(300px); /*desemfoque*/
    background-color:rgb(255,255,255,0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    color: #333;
}
.campo {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* Para que el padding no descuadre el ancho */
    border: 1px solid #ccc;
    border-radius: 4px;
}
.radio-group, .checkbox-group {
    margin-top: 5px;
}
.radio-group label, .checkbox-group label {
    display: inline;
    font-weight: normal;
    margin-right: 15px;
}
.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    border: none;
        border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.btn-enviar {
    background-color: #28a745; /* Verde */
}
.btn-borrar {
    background-color: #dc3545; /* Rojo */
}
button:hover {
    opacity: 0.9;
}
